* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Karla', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #222;
  /* background-color: bisque; */
}

.container {
  max-width: 140rem;
  padding: 0 3rem;
  margin: 0 auto;
}

.header {
  background: #e20000;
  margin-bottom: 4rem;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 16rem;
}

.nav-list {
  display: flex;
  list-style: none;
  font-size: 2.4rem;
}

.nav-link:link,
.nav-link:visited {
  padding: 0 2rem;
  display: block;
  line-height: 3;
  text-decoration: none;
  color: #fff;
}
.nav-link:hover,
.nav-link:active {
  background-color: #111;
}

.hidden {
  display: none !important;
}

.font-bold {
  font-weight: 700;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

/* SCHEDULE */

.section-schedule {
  display: grid;
  gap: 3rem;
  row-gap: 6rem;
  grid-template-columns: repeat(4, 1fr);
  font-size: 2rem;
}

.round-card {
  margin-top: 1rem;
  position: relative;
  padding: 1rem;
  padding-bottom: 0;
  border-top: 0.2rem solid #111;
  border-right: 0.2rem solid #111;
  border-top-right-radius: 1rem;
  transition: all 0.3s;
}

.round-card:hover {
  margin-top: 0;
  padding-top: 2rem;
  cursor: pointer;
}

.round-info-list {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.5rem;
  grid-template-columns: 1fr auto;
  list-style: none;
}

.round-number {
  position: absolute;
  color: #e20000;
  font-weight: 500;
  top: -5%;
  left: 0;
  padding: 0 1rem;
  background: #fff;
}

.round-date {
  font-weight: 700;
  transform: scaleY(50%);
  line-height: 0.5;
}

.days {
  font-size: 5rem;
}

.month {
  align-self: flex-start;
  padding: 0.6rem 0.4rem;
  border-radius: 0.5rem;
  background: #111;
  color: #fff;
  font-size: 3rem;
}

.flag {
  position: absolute;
  top: 5%;
  right: 5%;
}

.flag-img {
  height: 30px;
  width: 50px;
  display: block;
  object-fit: cover;
  border: 0.1rem solid #bbb;
  border-radius: 0.5rem;
}

.country {
  border-top: 0.1rem solid #bbb;
  padding-top: 1rem;
  font-weight: 700;
  font-size: 2.4rem;
}

.race-name {
  margin-bottom: 0.5rem;
}

.quali {
  border-top: 0.1rem solid #bbb;
  padding-top: 1rem;
}

.modal-schedule {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 80rem;
  height: 60rem;
  background: #e20000;
  z-index: 100;
}
